.default-flex-container {
    display: flex; /*inline-flex*/
    /*combo*/flex-flow: row nowrap;
    flex-direction: row; /*row-reverse, column, column-reverse*/
    flex-wrap: nowrap; /*wrap, wrap-reverse*/
    justify-content: flex-start; /* | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
    align-items: stretch; /* | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
    align-content: flex-start; /* | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;*/
}

.default-flex-item {
    order: 0; /*<integer>; /* default is 0 */
    /*combo*/ flex: 0 1 auto; /* | none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
    flex-grow: 0; /*<number>; /* default 0 */
    flex-shrink: 0; /*<number>; /* default 1 */
    flex-basis: auto; /*<length> | auto; /* default auto */
        /* overrides align-items */
    align-self: stretch; /*(inherited) auto | flex-start | flex-end | center | baseline | stretch;*/
}

#nav-bar, #documentTitle{
/*     visibility: hidden; */
    /*TODO undo this after testing*/
}

/* START TOPHALF */
#topHalf-Title {
    justify-content: space-around;
}
#topHalf {
/*     border: 1px dotted red; */
    padding: 15px 10px;
    justify-content: space-around;
}

#documentTitle {
    text-align:center;
    font: bold oblique 20px serif;
    padding: 10px 10px;
}