/nbproject/*
/MARCA-seq2seq/jlist_full_tuple.pkl
/MARCA-seq2seq/glove.6B.zip
/__pycache__/*
*.pyc
*.pickle
*.pkl
realDBConnect.py
*.commits
*.cgi

*.wpr
*.wpu
.flask_run

venv/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
