{% extends 'marca_base.html' %}


{% block headPlus %}
<style>
.userEntry, .userEntry>form {
    display: flex;
    flex-direction: column;
}
.userEntry * {
    margin-bottom: .5em;
}
input[type=submit] {
    align-self: start;
    min-width: 10em;
}
.userEntry > h1 {
    border-bottom: 1px solid lightgray;
}
</style>
<script>
        $('#username').focus();
</script>
{% endblock headPlus %}



{% block subBody %}
    {% block userEntry %}

        <div class="userEntry main-border-sides">
            <h1>{% block title %}Log In{% endblock %}</h1>
            <form method="post" action =
                    {% block formAction %}
                        {{url_for('auth.login')}}
                    {% endblock formAction %}
            >
	    <label for="username">Username {{g.user['userID']}} (or not)</label>
                    <input name="username" id="username" required>
                <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                <input type="submit"
                value=  "{% block submitValue %} Login {% endblock submitValue %}">
            </form>
        </div>

    {% endblock userEntry %}
{% endblock subBody %}

