<!--base_base_ref.html-->
<!--This just shows the basic Jinja layout-->
{% extends 'marca_base.html' %}

<!--HEAD-->
{% block title %}
{% endblock title %}


{% block headPlus %}
{% endblock headPlus %}
<!--END HEAD-->



<!--BODY-->
{% block body %}

<!--==================NAV-HEADER=================-->

    {% block header %}
    {% endblock header %}

{% block subBody %}
<!--==============================TOP HALF===================================-->

    {% block topHalf %}

        {% block topLeft %}

                {% block topLeft_H1 %}
                {% endblock topLeft_H1 %}

        {% endblock topLeft %}


        {% block topRight %}
            {% block summaryH2 %}{% endblock summaryH2 %}
            {% block keywords %}
            {% endblock keywords %}
        {% endblock topRight %}

    {% endblock topHalf %}

<!--=============================BOTTOM HALF=================================-->


    {% block bottomHalf %}

        {% block bottomDivID %}
        {% endblock bottomDivID %}

        {% block bottom_H1 %}
        {% endblock bottom_H1 %}

    {% endblock bottomHalf %}

{% endblock subBody %}


{% endblock body %}







